main {
    text-align: center;
    background-color: rgb(203, 203, 203);
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    background-color: white;
}

#img-caption {
    text-align: center;
}

#tribute-info {
    justify-content: space-around;
}
